.home__container {
    max-width: 1024px;
    height: calc(100vh - 120px );
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home__img {
    width: 70%;
    margin-bottom: 20px;
}

.home__title {
    color: red;
}

.home__subtitle {
    margin-bottom: 50px;
    font-size: 1.1rem;
}

.home__form {
    box-shadow: 0 15px 25px rgba(128, 128, 128, 0.205);
}


/*===================footer==================*/

.footer__red {
    background-color: red;
    width: 100%;
    height: 70px;
}

.footer__black {
    background-color: black;
    width: 100%;
    height: 50px;
    position: relative;
}

.circulo1,
.circulo2 {
    position: absolute;

}

.circulo1 {
    width: 65px;
    aspect-ratio: 1;
    border-radius: 50px;
    border: 5px solid black;
    background-color: white;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);

}

.circulo2 {
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50px;
    background-color: black;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
}